<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vrrrim</title>
    <link rel="icon" href="assets/logos/favicon.ico">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/base.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Flashed messages (temporary messages), such as for login failed -->
    {% with msgs = get_flashed_messages() %}
        {% if msgs %}
            <ul>
            {% for msg in msgs %}
                <li>{{ msg }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <div>
        <img src="assets/logos/logo.png" alt="vrrrim logo" class="logo" height="125px">
    </div>

    <div id="wrapper">
        <div id="table">
            <a class="active">Login</a>
            <a class="">Sign Up</a>
        </div>
        <div id="signin">
            <form action="{{ url_for('index') }}" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" autofocus required>
                </div>
                <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" name="password" id="pass" required>
                    <span id="showpwd" class="fa fa-eye-slash"></span>
                </div>
                <div class="form-group">
                    <label id="checkbox">
                        <input type="checkbox" checked><span class="text">Keep me signed in </span>
                    </label>
                </div>
                <div id="action-buttons">
                    <input type="hidden" name="clicked" value="login" id="hidden-val">
                    <button type="submit" id="btn-play">Login</button>
                </div>
            </form>

            <div class="hr"></div>
            <a href="#" id="froget-pass">Forget Password?</a>
        </div>
    </div>

    <div>
        <h1>What is vrrrim?</h1>
        <p>
            Experience vrrrim, the exhilarating Vim typeracer game where speed meets precision. Race against other
            players by mastering Vim commands and navigation.
            Just like in Formula 1, every keystroke counts, and the fastest and more strategic fingers take the
            checkered flag. Navigate, insert, and edit your way to victory in the ultimate test of Vim mastery.
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#showpwd").on("click", function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
                $($(this).siblings()[1]).attr("type", function (index, attr) {
                    return attr == "password" ? "text" : "password"
                });
            });
        })
    </script>
    <script>
        document.querySelectorAll('#table a').forEach(tab => {
            tab.addEventListener('click', () => {
                document.querySelectorAll('#table a').forEach(t => t.classList.remove('active'));
                tab.classList.add('active');

                // Change the button name to match the active tab
                document.getElementById('btn-play').textContent = tab.textContent;
                // Change the hidden value to match the active tab
                document.getElementById('hidden-val').value = 'signup'
            });
        });
    </script>

</body>

</html>